* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

.App {
  text-align: center;
  background-color: #f1f1f1;
  height: 100vh;
  padding-top: 5rem;
  margin: auto 0;
}

.container {
  width: 30vw;
  height: auto;
  border-radius: 0.3rem;
  background-color: #fff;
  box-shadow: 0.2rem 0.2rem #f1f1f1;
  padding: 10px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100vw;
  }
}

.btn {
  border: 0;
  padding: 0.8em;
  border-radius: 3px;
  background-color: inherit;
  color: red;
  font-size: medium;
  cursor: pointer;
  text-transform: capitalize;
}

.form {
  display: flex;
  justify-content: center;
  width: 100%;
}

.submit {
  border: 0;
  border-radius: 0 3px 3px 0;
  background-color: dodgerblue;
  margin: 0;
  color: #fff;
  cursor: pointer;
  padding: 8px;
  width: 20%;
}

.input {
  border: 1px solid dodgerblue;
  border-radius: 3px 0 0 3px;
  background-color: #fff;
  margin: 0;
  padding: 5px;
  width: 80%;
}

.input::focus {
  border: 1px solid blue;
}

.list {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  padding: 5px;
  margin: 10px 8px;
  border-radius: 3px;
  font-size: large;
}
.span {
  display: flex;

  margin-right: 0;
}

.edit-icon {
  color: green;
  margin-right: 0.5em;
  cursor: pointer;
  border: 0;
  background-color: inherit;
}

.delete-icon {
  color: red;
  cursor: pointer;
  border: 0;
  background-color: inherit;
}

.alert {
  padding: 2px;
  border: 0;
  border-radius: 3px;
  text-transform: capitalize;
}

.alert-success {
  background-color: rgb(151, 245, 151);
}

.alert-danger {
  background-color: rgb(231, 127, 127);
}
